boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1605659519766/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1605655167572/work
brotlipy==0.7.0
certifi==2020.11.8
cffi @ file:///opt/concourse/worker/volumes/live/eb62ae01-f026-4d1e-5315-e566599a35e6/volume/cffi_1605538075442/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1602255311078/work
click==7.1.2
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1604179238896/work
filelock==3.0.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///opt/concourse/worker/volumes/live/a1b5ea96-b05c-40ba-5dfb-4542ece1c186/volume/numpy_and_numpy_base_1603491228242/work
packaging==20.4
protobuf==3.14.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1602326930468/work
python-dateutil==2.8.1
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1605270934761/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1605186911681/work
s3transfer @ file:///drone/src/build_artifacts/s3transfer_1602877463089/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1588857588528/work
sentencepiece==0.1.91
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tokenizers==0.9.3
torch==1.4.0
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work
transformers==3.5.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
